h1 {
    color: black;
    font-size: 3em;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 3px darkgrey;
    border: 5px dotted black;
    margin: 10px;
    padding: 10px;
}

li{
    color:crimson;
    font-family: 'Orbitron', sans-serif;
}

.standard_font{color:crimson;
        font-family: 'Orbitron', sans-serif;
}

.fancy{font-family: 'Indie Flower', cursive;
    color: darkgrey;
}
.fancy1{font-family: 'Indie Flower', cursive;
    color:black;
}
body{
    background-color: grey; 
}

.box{
    border:5px solid black;
    margin: 5px;
    height: 100px;
    width: 100px;
    border-radius: 0px;
    background-color: cyan;
    transition-property: border-radius, background-color, border;
    transition-duration: 400ms;
    transition-timing-function: linear;
}
.word{color: black;
    font-size: 3em;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0px 0px 0px grey;
    border: 5px dotted black;
    margin: 10px;
    padding: 10px;
    transition-property: text-shadow;
    transition-duration: 300ms;
    transition-timing-function:linear
}

.word:hover{
    text-shadow: 5px 5px 10px crimson ;
}

.box:hover{
    background-color: green;
    border-radius:150px;
    border:5px red dotted; 
}

.title{
    display: inline;
    height:50px;
    width:100;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 3px black solid;
    border-bottom: 3px black solid;
    background-color: cyan;
    transition-property: border-top-left-radius, border-top-right-radius, border-bottom;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.title:hover{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 10px black solid;
}